*{
	margin:0;
	padding: 0;
}

#fab{
	bottom: 25px;
	right:25px;
}


#lampswidget{
	display:inline-block;
}

.thermostatSettingsTitle{
	border-bottom: 1px solid #505050;
}

body{

	background-color:#FFFFFF;
	overflow: visible;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
	font-size: 42px;
}

nav .brand-logo {
    left: 50%;
    font-size: 2.1rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.container-light {
  width: 90%;
}

.container-light .row{
 margin-bottom:7px;

}

#message i{
	font-size:24px;
	padding:0px;
	margin:0px;
	height:24px;
	line-height: 24px;
}



.chip .fakeclose {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

.dashTitle{
	margin:0px;
	padding:0px;
}
.card-panel{
    padding:0px;
     border-radius:5px;

}



@media screen and (max-width: 600px){
	#clock{
	  display:none;
	}

	nav .brand-logo {
    left: 50%;
    font-size: 1.1rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
	.chip {
	  display: inline-block;
	  height: 16px;
	  font-size: 10px;
	  font-weight: 500;
	  color: rgba(0, 0, 0, 0.6);
	  line-height: 15px;
	  padding: 0 4px;
	  border-radius: 16px;
	  background-color: #e4e4e4;
	  margin-bottom: 0px;
	  margin-right: 0px;
	  top:8;

	}
	.chip .fakeclose {
	  cursor: pointer;
	  float: right;
	  font-size: 10px;
	  line-height: 15px;
	  padding-left: 8px;
	}
	.butlp{
		width:50px;
		height:auto;
	}
	.thermo{
		width:63px;
		height:auto;
		margin:0;
		padding:0;
	}

	#clock_js{
		width:120px;
		height:auto;
		margin:0;
		padding:0;
	}

	nav,.nav-wrapper ,.banner, .material-icons, a.button-collapse{
		height:32px;
		margin-bottom:4px;

	}

	nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{

		font-size: 24px;
	}

	nav a.button-collapse i{

		line-height:32px;
		height:32px;
	}

	.btn-floating.btn-large{
		height:50px;
		width:50px;
	}

	.btn-floating.btn-large i{
		line-height: 50px;
	}


    .dashContent{
        margin-top:4px;

    }

    .dashTitle{
        margin:0px;
        padding:0px;
        font-size:0.9rem;
    }
	.card-panel{
	    padding:0px;
	    margin:0px;
	}

	.interTitle{
	    padding:0px;
		margin:0px;
		font-size:0.9rem;
	}

	#message i{
		font-size:16px;
		padding:0px;
		margin:0px;
		height:16px;
		line-height: 16px;
	}

}

@media screen and (max-height: 330px) and (max-width:600px){

	#clock{
	  display:none;
	}

	.chip {
	  display: inline-block;
	  height: 16px;
	  font-size: 10px;
	  font-weight: 500;
	  color: rgba(0, 0, 0, 0.6);
	  line-height: 15px;
	  padding: 0 4px;
	  border-radius: 16px;
	  background-color: #e4e4e4;
	  margin-bottom: 0px;
	  margin-right: 0px;

	}
	.chip .fakeclose {
	  cursor: pointer;
	  float: right;
	  font-size: 10px;
	  line-height: 15px;
	  padding-left: 8px;
	}


	.butlp{
		width:45px;
		height:auto;
	}
	.thermo{
		width:60px;
		height:auto;
		margin:0;
		padding:0;
	}

	#clock_js{
		width:90px;
		height:auto;
		margin:0;
		padding:0;


	}

	nav,.nav-wrapper ,.banner,.material-icons,a.button-collapse{
		height:32px;
		margin-bottom:4px;
	}
	nav a.button-collapse i{

		line-height:32px;
	}


	.btn-floating{
		height:25px;
		width:25px;
		margin:0px;
                padding:0px;
		line-height: 25px;

	}

	ul .btn-floating{
		position:relative;
		bottom:15px;
		right:-30px;
	}

	.btn-floating i{
		height:25px;
		width:25px;
		margin:0px;
                padding:0px;
		line-height: 25px;
	}


	#fab,#fabBut{
		width:30px;
		height:30px;
		bottom:5px;
		right: 5px;
		margin:0;
		padding:0;
		line-height: 0px;

	}
	#fabIcon{
		width:30px;
		height:30px;
		bottom: 0px;
		right: 0px;
		margin:0;
		padding:0;
		line-height: 30px;

	}

 	.dashContent{
        margin-top:4px;

    }

    .dashTitle{
        margin:0px;
        padding:0px;
        font-size:0.9rem;
    }
	.card-panel{
	    padding:0px;
	    margin:0px;
	}

	.interTitle{
	    padding:0px;
		margin:0px;
		font-size:0.9rem;
	}

	#message i{
		font-size:16px;
		padding:0px;
		margin:0px;
		height:16px;
		line-height: 16px;
	}


}

@media screen and (max-height: 330px) and (min-width:601px){

	nav,.nav-wrapper ,.banner{
		height:64px;

	}

	.butlp{
		width:60px;
		height:auto;
	}

	#clock_js{
		width:80px;
		height:auto;
		margin:0;
		padding:0;


	}

	.card-panel{
	    padding:0px;
	    margin:0px;
	}

	#message i{
		font-size:1rem;
		padding:0px;
		margin:0px;
	}
}

@media screen and (min-width: 601px) and (max-width: 992px){
	.butlp{
		width:80px;
		height:auto;
	}


	#clock_js{
		width:170px;
		height:auto;
		margin:0;
		padding:0;
	}


	.thermo{
		width:80px;
		height:auto;
		margin:0;
		padding:0;

	}
	.card-panel{
		min-height:230px;
	}
	.dashContent{
		margin-top:28px;

	}



}
@media screen and (min-width: 993px){
	.butlp{
		width:100px;
		height:auto;
	}
	#clock_js{
		width:180px;
		height:auto;
		margin:0;
		padding:0;
	}

	.thermo{
		width:85px;
		height:auto;
		margin:0;
		padding:0;

	}
	.card-panel{
		min-height:230px;
	}
	.dashContent{
		margin-top:20px;

	}

}

nav{
	float : left;
	width:100%;
	text-align:center;
	 background-color: transparent;
}


footer.page-footer{
 position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:99;

}

.graph{

	width:100%;
	height:auto;


}

.side-nav li{
	width:100%;
	font-family:"Roboto";


}
.title-side-nav{
	width:100%;
	height:auto;


}

.waves-effect.waves-pink .waves-ripple {
	 background-color:rgba(236, 64, 122, 0.2);
}


.interTitle{

	color : #FFFFFF;

}

.spinner-pink,
.spinner-pink-only {
  border-color: #e91e63;
}

.graphcont{

	position:relative;
	height:100%;
	margin:auto;
	margin-bottom:15px;
	padding:0;
}


.graph{
	z-index:1;
	position:absolute;
}

.axisgraph{

	z-index:0;
	position:absolute;
}

.title, #titleNav{

	color : #FFFFFF;

}

#titleNav{

	margin-left:10px;
}

h4 .typeTitle{


	margin-bottom:16px;
	margin-top:16px;

}


#editContainer #cards .row .card{

	margin-bottom:5px;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

textarea.materialize-textarea{

	padding:0px;

}
.btn-flat i {
	font-size: 1.8rem;

}


#hightemp{
	color:red;
	padding:0;
}

#temp{

	font-size:2em;
	padding:0px;
	margin-top:-10%;
}

#city,#desc, #HighLow{

    font-size:1.2em;

	padding:0;
}

#Day1, #Day2, #Day3, #Day4,#Day1HiLo, #Day2HiLo, #Day3HiLo, #Day4HiLo {

	font-size: 1.2em;

	padding:0px;
	margin:0px;

}
#Day1Icon, #Day2Icon, #Day3Icon, #Day4Icon {
	min-width:50px;
	max-width:70px;
	padding:0px;
	margin:0px;

}



#weathericon{


	padding:10px;
	margin:0px;
}

#forecast{

	padding:0px;
	margin:0px;
}

#maincontent{
	margin-bottom:100px;
}


#maincontent {
  margin-bottom:100px;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-start;
}

/* Medium screens */
@media all and (max-width: 800px) {
  #maincontent {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  #maincontent {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


.parameters{

        padding:20px;
		min-height:60px;

	height:auto;
}

.btn-small{
 padding:0px;
}

li span{
	white-space: normal;
}

.square{

	float:left;
    position: relative;
    width:30%;
    padding-bottom :30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
	border-radius: 10px;
	z-index: 2;
	box-shadow: 3px 3px 5px #888888;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
	.square .material-icons{
		font-size: 50px;
	}
}

@media screen and (min-width: 641px) and (max-width: 992px) {
	.square .material-icons{
		font-size: 80px;
	}
}

@media screen and (min-width: 993px){
	.square .material-icons{
		font-size: 120px;
	}
}
