@import 'spinner.css';
@import 'card.css';
@import 'theme.css';

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Regular.eot");
	src: url("../fonts/roboto/Roboto-Regular.woff") format("woff")
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(210px, auto);
	margin-left: 10px;
	margin-right: 10px;
}

#statusDot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
	margin-left: 20px;
}

@media only screen and (min-width: 600px) {
	.grid-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	
	#statusDot {
		height: 15px;
		width: 15px;
		margin: 15px;
		margin-left: 30px;
	}
}
