:root {
    --secondaryTextLightColor: #f48fb1;
    --secondaryTextColor: #ac677e;
    --primaryTextLightColor: #01b6a4;
    --textOnBodyColor: whitesmoke;
    --green: #69f0ae;
    --red: #f44336;
    --dark: #222222;
    --lighterDark: #494949;
}

body {
    background-color: var(--dark);
    font-family: "Roboto", "Courier New", monospace;
}

.lighterDarkBackgroundColor {
    background-color: var(--lighterDark);
}

.secondaryTextLightColor {
    color: var(--secondaryTextLightColor);
}

.secondaryTextColor {
    color: var(--secondaryTextColor);
}

.primaryTextLightColor {
    color: var(--primaryTextLightColor);
}

.textOnBodyColor {
    color: var(--textOnBodyColor);
}

.green {
    background-color: var(--green);
    box-shadow: 0 0 10px 5px var(--green)
}

.red {
    background-color: var(--red);
    box-shadow: 0 0 10px 5px var(--red);
}