.thermostat{

	margin-bottom:20px;
}

.thermostat .dispMode,.thermostat .dispIcon{
	display: flex;

  	justify-content: flex-start;
  	align-items: center;

}

.thermostat .dispIcon .flow-text{
	margin:10px;
	align-self: center;
}

.thermostat .dispIcon i{
	padding:0px;
	margin: 0px;
	font-size:32px;
	align-self: center;
}

.thermostat .settings{
	padding:0px;
	margin: 0px;
	font-size:22px;	
	align-self: left;
}

.thermostat .row, #widget-thermostat-content{
	padding:0px;
	margin: 0px;
}







.thermostat .dispConsigne{
	
	font-size: 2em;	
	vertical-align: middle;
	align-self: center;
	margin:auto;
}



.thermostat .square{
 	display: flex;
	min-height: 120px;
	flex-direction: column;
	justify-content: flex-start;
  	align-items: left;
}
.thermostat .btnConsigne{

	vertical-align: middle;
	align-self: center;
}

.thermostat .btnConsigne i{

	font-size: 1.8em;
	vertical-align: middle;

	align-self: center;
}

.thermostat .border-widget{
	border : 1px solid;
}

.thermostat .rounded-corner{
	border-radius:5px;
}

@media screen and (max-width: 600px){

.thermostat .dispIcon .flow-text{
	margin:2px;
}

.thermostat .dispIcon i{
	padding:0px;
	margin: 0px;
	font-size:24px;
}

.thermostat .miniIcon i{
	padding:0px;
	margin: 0px;
	font-size:12px;
}

.thermostat .dispConsigne{
	
	font-size: 1.5em;
	line-height: 30px;

}

.thermostat .btnConsigne{
	min-height:30px;

}

.thermostat .btnConsigne i{

	font-size: 2em;
	vertical-align: middle;
	line-height: 30px;
}

.thermostat .settings{
	padding:0px;
	margin: 0px;
	font-size:18px;
}


}